config.sh
.project
.cproject
obj/
*.d
*.o
*.i
*.s
ChangeLog
gmon.out
*.ncb
*.opt
*.plg
*.exe
*.pk3
darkplaces_private.h
darkplaces_private.rc
Makefile.win
*.dll
*.dylib
*.dSYM
*.cbp
*.layout
*.user
CMakeFiles/
CMakeCache.txt
bin/
cmake_install.cmake
.classpath
Makefile
.settings/*
/build/
/game/*
!/game/readme.txt
!/game/default/config.cmake
!/game/default/src
/.csettings/
